interactions:
- request:
    body: null
    headers:
    method: HEAD
    uri: https://specs.frictionlessdata.io/schemas/tabular-data-resource.json
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"65685295-15dae"
      Last-Modified:
      - Thu, 30 Nov 2023 09:15:01 GMT
      X-Fastly-Request-ID:
      - 9f2be33c1ca54eb56da9ea0e0479049755e80b5c
      x-proxy-cache:
      - MISS
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://specs.frictionlessdata.io/schemas/tabular-data-resource.json
  response:
    body:
      string: "{\n  \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n  \"title\":
        \"Tabular Data Resource\",\n  \"description\": \"A Tabular Data Resource.\",\n
        \ \"type\": \"object\",\n  \"oneOf\": [\n    {\n      \"required\": [\n        \"name\",\n
        \       \"data\",\n        \"schema\",\n        \"profile\"\n      ]\n    },\n
        \   {\n      \"required\": [\n        \"name\",\n        \"path\",\n        \"schema\",\n
        \       \"profile\"\n      ]\n    }\n  ],\n  \"properties\": {\n    \"profile\":
        {\n      \"enum\": [\n        \"tabular-data-resource\"\n      ],\n      \"propertyOrder\":
        10,\n      \"title\": \"Profile\",\n      \"description\": \"The profile of
        this descriptor.\",\n      \"context\": \"Every Package and Resource descriptor
        has a profile. The default profile, if none is declared, is `data-package`
        for Package and `data-resource` for Resource.\",\n      \"type\": \"string\",\n
        \     \"examples\": [\n        \"{\\n  \\\"profile\\\": \\\"tabular-data-package\\\"\\n}\\n\",\n
        \       \"{\\n  \\\"profile\\\": \\\"http://example.com/my-profiles-json-schema.json\\\"\\n}\\n\"\n
        \     ]\n    },\n    \"name\": {\n      \"propertyOrder\": 20,\n      \"title\":
        \"Name\",\n      \"description\": \"An identifier string. Lower case characters
        with `.`, `_`, `-` and `/` are allowed.\",\n      \"type\": \"string\",\n
        \     \"pattern\": \"^([-a-z0-9._/])+$\",\n      \"context\": \"This is ideally
        a url-usable and human-readable name. Name `SHOULD` be invariant, meaning
        it `SHOULD NOT` change when its parent descriptor is updated.\",\n      \"examples\":
        [\n        \"{\\n  \\\"name\\\": \\\"my-nice-name\\\"\\n}\\n\"\n      ]\n
        \   },\n    \"path\": {\n      \"propertyOrder\": 30,\n      \"title\": \"Path\",\n
        \     \"description\": \"A reference to the data for this resource, as either
        a path as a string, or an array of paths as strings. of valid URIs.\",\n      \"oneOf\":
        [\n        {\n          \"title\": \"Path\",\n          \"description\": \"A
        fully qualified URL, or a POSIX file path.\",\n          \"type\": \"string\",\n
        \         \"pattern\": \"^(?=^[^./~])(^((?!\\\\.{2}).)*$).*$\",\n          \"examples\":
        [\n            \"{\\n  \\\"path\\\": \\\"file.csv\\\"\\n}\\n\",\n            \"{\\n
        \ \\\"path\\\": \\\"http://example.com/file.csv\\\"\\n}\\n\"\n          ],\n
        \         \"context\": \"Implementations need to negotiate the type of path
        provided, and dereference the data accordingly.\"\n        },\n        {\n
        \         \"type\": \"array\",\n          \"minItems\": 1,\n          \"items\":
        {\n            \"title\": \"Path\",\n            \"description\": \"A fully
        qualified URL, or a POSIX file path.\",\n            \"type\": \"string\",\n
        \           \"pattern\": \"^(?=^[^./~])(^((?!\\\\.{2}).)*$).*$\",\n            \"examples\":
        [\n              \"{\\n  \\\"path\\\": \\\"file.csv\\\"\\n}\\n\",\n              \"{\\n
        \ \\\"path\\\": \\\"http://example.com/file.csv\\\"\\n}\\n\"\n            ],\n
        \           \"context\": \"Implementat[...]
[...]
