interactions:
- request:
    body: null
    headers:
    method: HEAD
    uri: https://specs.frictionlessdata.io/schemas/table-schema.json
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"65685295-10ab4"
      Last-Modified:
      - Thu, 30 Nov 2023 09:15:01 GMT
      X-Fastly-Request-ID:
      - a7986c43525ad767e1c4c1e9131d393bc5af35a2
      x-proxy-cache:
      - MISS
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://specs.frictionlessdata.io/schemas/table-schema.json
  response:
    body:
      string: "{\n  \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n  \"title\":
        \"Table Schema\",\n  \"description\": \"A Table Schema for this resource,
        compliant with the [Table Schema](/tableschema/) specification.\",\n  \"type\":
        [\n    \"string\",\n    \"object\"\n  ],\n  \"required\": [\n    \"fields\"\n
        \ ],\n  \"properties\": {\n    \"fields\": {\n      \"type\": \"array\",\n
        \     \"minItems\": 1,\n      \"items\": {\n        \"title\": \"Table Schema
        Field\",\n        \"type\": \"object\",\n        \"oneOf\": [\n          {\n
        \           \"type\": \"object\",\n            \"title\": \"String Field\",\n
        \           \"description\": \"The field contains strings, that is, sequences
        of characters.\",\n            \"required\": [\n              \"name\"\n            ],\n
        \           \"properties\": {\n              \"name\": {\n                \"title\":
        \"Name\",\n                \"description\": \"A name for this field.\",\n
        \               \"type\": \"string\"\n              },\n              \"title\":
        {\n                \"title\": \"Title\",\n                \"description\":
        \"A human-readable title.\",\n                \"type\": \"string\",\n                \"examples\":
        [\n                  \"{\\n  \\\"title\\\": \\\"My Package Title\\\"\\n}\\n\"\n
        \               ]\n              },\n              \"description\": {\n                \"title\":
        \"Description\",\n                \"description\": \"A text description. Markdown
        is encouraged.\",\n                \"type\": \"string\",\n                \"examples\":
        [\n                  \"{\\n  \\\"description\\\": \\\"# My Package description\\\\nAll
        about my package.\\\"\\n}\\n\"\n                ]\n              },\n              \"example\":
        {\n                \"title\": \"Example\",\n                \"description\":
        \"An example value for the field.\",\n                \"type\": \"string\",\n
        \               \"examples\": [\n                  \"{\\n  \\\"example\\\":
        \\\"Put here an example value for your field\\\"\\n}\\n\"\n                ]\n
        \             },\n              \"type\": {\n                \"description\":
        \"The type keyword, which `MUST` be a value of `string`.\",\n                \"enum\":
        [\n                  \"string\"\n                ]\n              },\n              \"format\":
        {\n                \"description\": \"The format keyword options for `string`
        are `default`, `email`, `uri`, `binary`, and `uuid`.\",\n                \"context\":
        \"The following `format` options are supported:\\n  * **default**: any valid
        string.\\n  * **email**: A valid email address.\\n  * **uri**: A valid URI.\\n
        \ * **binary**: A base64 encoded string representing binary data.\\n  * **uuid**:
        A string that is a uuid.\",\n                \"enum\": [\n                  \"default\",\n
        \                 \"email\",\n                  \"uri\",\n                  \"binary\",\n
        \                 \"uuid\"\n                ],\n                \"default\":
        \"default\"\n              },\n              \"constraints\": {\n                \"title\":
        \"Constraints\",\n                \"description\": \"The following constraints
        are supported for `string` fields.\",\n                \"type\": \"object\",\n
        \               \"properties\": {\n                  \"required\": {\n                    \"type\":
        \"boolean\",\n                    \"description\": \"Indicates whether a property
        must have a value for each instance.\",\n                    \"context\":
        \"An empty string is considered to be a missing value.\"\n                  },\n
        \                 \"unique\": {\n                    \"type\": \"boolean\",\n
        \                   \"description\": \"When `true`, each value for the property
        `MUST` be unique.\"\n                  },\n                  \"pattern\":
        {\n                    \"type\": \"string\",\n                    \"description\":
        \"A regular expression pattern to test each value of the property against,
        where a truthy response indicates validity.\",\n                    \"context\":
        \"Regular expressions `SHOULD` conform to the [XML Schema regular expression
        syntax](http://www.w3.org/TR/xmlschema-2/#regexs).\"\n                  },\n
        \                 \"enum\": {\n                    \"type\": \"array\",\n
        \                   \"minItems\": 1,\n                    \"uniqueItems\":
        true,\n                    \"items\": {\n                      \"type\": \"string\"\n
        \                   }\n                  },\n                  \"minLength\":
        {\n                    \"type\": \"integer\",\n                    \"description\":
        \"An integer that specifies the minimum length of a value.\"\n                  },\n
        \                 \"maxLength\": {\n                    \"type\": \"integer\",\n
        \                   \"description\": \"An integer that specifies the maximum
        length of a value.\"\n                  }\n                }\n              },\n
        \             \"rdfType\": {\n                \"type\": \"string\",\n                \"description\":
        \"The RDF type for this field.\"\n              }\n            },\n            \"examples\":
        [\n              \"{\\n  \\\"name\\\": \\\"name\\\",\\n  \\\"type\\\": \\\"string\\\"\\n}\\n\",\n
        \             \"{\\n  \\\"name\\\": \\\"name\\\",\\n  \\\"type\\\": \\\"string\\\",\\n
        \ \\\"format\\\": \\\"email\\\"\\n}\\n\",\n              \"{\\n  \\\"name\\\":
        \\\"name\\\",\\n  \\\"type\[...]
[...]
