interactions:
- request:
    body: null
    headers:
    method: HEAD
    uri: https://specs.frictionlessdata.io/schemas/csv-dialect.json
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"65685295-f81"
      Last-Modified:
      - Thu, 30 Nov 2023 09:15:01 GMT
      X-Fastly-Request-ID:
      - 610794f3fb840f4af783241c5968a549f0556a9a
      x-proxy-cache:
      - MISS
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://specs.frictionlessdata.io/schemas/csv-dialect.json
  response:
    body:
      string: "{\n  \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n  \"title\":
        \"CSV Dialect\",\n  \"description\": \"The CSV dialect descriptor.\",\n  \"type\":
        [\n    \"string\",\n    \"object\"\n  ],\n  \"required\": [\n    \"delimiter\",\n
        \   \"doubleQuote\"\n  ],\n  \"properties\": {\n    \"csvddfVersion\": {\n
        \     \"title\": \"CSV Dialect schema version\",\n      \"description\": \"A
        number to indicate the schema version of CSV Dialect. Version 1.0 was named
        CSV Dialect Description Format and used different field names.\",\n      \"type\":
        \"number\",\n      \"default\": 1.2,\n      \"examples:\": [\n        \"{\\n
        \ \\\"csvddfVersion\\\": \\\"1.2\\\"\\n}\\n\"\n      ]\n    },\n    \"delimiter\":
        {\n      \"title\": \"Delimiter\",\n      \"description\": \"A character sequence
        to use as the field separator.\",\n      \"type\": \"string\",\n      \"default\":
        \",\",\n      \"examples\": [\n        \"{\\n  \\\"delimiter\\\": \\\",\\\"\\n}\\n\",\n
        \       \"{\\n  \\\"delimiter\\\": \\\";\\\"\\n}\\n\"\n      ]\n    },\n    \"doubleQuote\":
        {\n      \"title\": \"Double Quote\",\n      \"description\": \"Specifies
        the handling of quotes inside fields.\",\n      \"context\": \"If Double Quote
        is set to true, two consecutive quotes must be interpreted as one.\",\n      \"type\":
        \"boolean\",\n      \"default\": true,\n      \"examples\": [\n        \"{\\n
        \ \\\"doubleQuote\\\": true\\n}\\n\"\n      ]\n    },\n    \"lineTerminator\":
        {\n      \"title\": \"Line Terminator\",\n      \"description\": \"Specifies
        the character sequence that must be used to terminate rows.\",\n      \"type\":
        \"string\",\n      \"default\": \"\\r\\n\",\n      \"examples\": [\n        \"{\\n
        \ \\\"lineTerminator\\\": \\\"\\\\r\\\\n\\\"\\n}\\n\",\n        \"{\\n  \\\"lineTerminator\\\":
        \\\"\\\\n\\\"\\n}\\n\"\n      ]\n    },\n    \"nullSequence\": {\n      \"title\":
        \"Null Sequence\",\n      \"description\": \"Specifies the null sequence,
        for example, `\\\\N`.\",\n      \"type\": \"string\",\n      \"examples\":
        [\n        \"{\\n  \\\"nullSequence\\\": \\\"\\\\N\\\"\\n}\\n\"\n      ]\n
        \   },\n    \"quoteChar\": {\n      \"title\": \"Quote Character\",\n      \"description\":
        \"Specifies a one-character string to use as the quoting character.\",\n      \"type\":
        \"string\",\n      \"default\": \"\\\"\",\n      \"examples\": [\n        \"{\\n
        \ \\\"quoteChar\\\": \\\"'\\\"\\n}\\n\"\n      ]\n    },\n    \"escapeChar\":
        {\n      \"title\": \"Escape Character\",\n      \"description\": \"Specifies
        a one-character string to use as the escape character.\",\n      \"type\":
        \"string\",\n      \"examples\": [\n        \"{\\n  \\\"escapeChar\\\": \\\"\\\\\\\\\\\"\\n}\\n\"\n
        \     ]\n    },\n    \"skipInitialSpace\": {\n      \"title\": \"Skip Initial
        Space\",\n      \"description\": \"Specifies the interpretation of whitespace
        immediately following a delimiter. If false, whitespace immediately after
        a delimiter should be treated as part of the subsequent field.\",\n      \"type\":
        \"boolean\",\n      \"default\": false,\n      \"examples\": [\n        \"{\\n
        \ \\\"skipInitialSpace\\\": true\\n}\\n\"\n      ]\n    },\n    \"header\":
        {\n      \"title\": \"Header\",\n      \"description\": \"Specifies if the
        file includes a header row, always as the first row in the file.\",\n      \"type\":
        \"boolean\",\n      \"default\": true,\n      \"examples\": [\n        \"{\\n
        \ \\\"header\\\": true\\n}\\n\"\n      ]\n    },\n    \"commentChar\": {\n
        \     \"title\": \"Comment Character\",\n      \"description\": \"Specifies
        that any row beginning with this one-character string, without preceeding
        whitespace, causes the entire line to be ignored.\",\n      \"type\": \"string\",\n
        \     \"examples\": [\n        \"{\\n  \\\"commentChar\\\": \\\"#\\\"\\n}\\n\"\n
        \     ]\n    },\n    \"caseSensitiveHeader\": {\n      \"title\": \"Case Sensitive
        Header\",\n      \"description\": \"Specifies if the case of headers is meaningful.\",\n
        \     \"context\": \"Use of case in source CSV files is not always an intentional
        decision. For example, should \\\"CAT\\\" and \\\"Cat\\\" be considered to
        have the same meaning.\",\n      \"type\": \"boolean\",\n      \"default\":
        false,\n      \"examples\": [\n        \"{\\n  \\\"caseSensitiveHeader\\\":
        true\\n}\\n\"\n      ]\n    }\n  },\n  \"examples\": [\n    \"{\\n  \\\"dialect\\\":
        {\\n    \\\"delimiter\\\": \\\";\\\"\\n  }\\n}\\n\",\n    \"{\\n  \\\"dialect\\\":
        {\\n    \\\"delimiter\\\": \\\"\\\\t\\\",\\n    \\\"quoteChar\\\": \\\"'\\\",\\n
        \   \\\"commentChar\\\": \\\"#\\\"\\n  }\\n}\\n\"\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"65685295-f81"
      Last-Modified:
      - Thu, 30 Nov 2023 09:15:01 GMT
      X-Fastly-Request-ID:
      - d318f7c169243297443bd5fd31321957d0d55533
      x-proxy-cache:
      - MISS
    status:
      code: 200
      message: OK
[...]
